/* Positions */
.head {
  display: flex;
  justify-content: center;
  margin: 70px;
  height: 40px;
}

.nav {
  display: flex;
  justify-content: center;
}

.menu {
  color: black;
  background: white;
  font-size: 20px;
  padding: 40px;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  position: relative;
  grid-column-gap: 80px;
}

.bike {
  max-width: 1000px;
  grid-column: 2/3;
  grid-row: 1/4;
}

.p1 {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  grid-column: 1/2;
  grid-row: 1/2;
  /* align-self: center; */
  top: 280px;
  left: 586px;
}

.p2 {
  position: absolute;
  font-size: 30px;
  grid-column: 1/2;
  grid-row: 2/3;
  bottom: 20px;
  left: 400px;
  text-align: right;
}

.button {
  position: absolute;
  font-size: 25px;
  grid-column: 1/2;
  grid-row: 3/4;
  bottom: 100px;
  left: 930px;
}

/* Styles */

.button {
  border-radius: 4px;
  background: #ee2211;
  color: white;
  padding: 20px 40px;
}

.bike {
  border-radius: 4px;
}

/* General */
html {
  font-family: Arial;
}

body {
  background: #f7f7f7;
  margin: 0px;
}

a {
  text-decoration: none;
}

p {
  font-size: 20px;
  margin: 0px;
}
