.menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.menu a {
  background: #ffffff;
  padding: 15px 30px;
  border-radius: 4px;
  color: #000000;
  text-transform: uppercase;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.intro {
  display: grid;
  background: #ffffff;
  padding: 40px;
  text-align: right;
  position: relative;
  align-content: center;
  gap: 15px;
  justify-items: end;
}

.detail {
  width: 60px;
  height: 4px;
  background: #ee2211;
  display: inline-block;
  position: absolute;
  top: 30px;
  right: -30px;
}

.button {
  border-radius: 4px;
  background: #ee2211;
  color: white;
  padding: 15px 30px;
  text-transform: uppercase;
}

.bike {
  border-radius: 4px;
}

.menu a:hover {
  background: rgb(247, 209, 209);
}

.subtitle {
  font-size: 64px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  padding: 40px;
  align-self: center;
}

.benefits {
  background: #ffffff;
  padding: 40px;
}

.benefits-items {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
}

.benefits-items p {
  grid-column: 2;
}

.footer {
  background: #ffffff;
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}
/* General */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;
  margin: 0px;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 20px;
  line-height: 1.3;
}
