html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
}

h1 {
  text-align: center;
}

.layout-produto {
  /* padding-left: 30px;
  padding-top: 1px; */
  background: #111;
  border-radius: 4px;
  margin: 50px;
}

.nome-produto {
  color: #fff;
  margin-left: 10px;
  padding-top: 10px;
}

.preço {
  color: #febe01;
}

.sobre {
  color: #b2b2b2;
  font-size: 16px;
}
